* {
    background-color: black;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

#userpoints {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}

#textbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#container {
    display: flex;
    justify-content: center;
}

.cell {
    display: inline-flex;
    border: 1px solid white;
    margin: 10px;
    background-color: blue;
    color: white;
}

.row {
    padding: 0;
    margin: 0;
}